<div>
  <label for="<%=name%>"><%=label%>:</label>
  <input type="password" name="<%=name%>" id="<%=name%>" />
</div>
<% if error %>
  <div>
    <span class="error">
      <%=error%>
    </span>
  </div>
<% end %>
